In [1]:
import os
from open_key import api_key
os.environ['OPENAI_API_KEY'] = api_key

In [2]:
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain

In [3]:
db = SQLDatabase.from_uri("sqlite:////Users/ankitmohapatra/Downloads/Chinook.db")
llm = OpenAI(temperature=0, verbose=True)

In [4]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
db_chain.run("How many employees are there?")

> Entering new SQLDatabaseChain chain...
How many employees are there?
SQLQuery:SELECT COUNT(*) FROM employees;
SQLResult: [(8,)]
Answer:There are 8 employees.
> Finished chain.

'There are 8 employees.'

In [5]:
from langchain.prompts.prompt import PromptTemplate

_DEFAULT_TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}

If someone asks for the table foobar, they really mean the employee table.

Question: {input}"""
PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "dialect"], template=_DEFAULT_TEMPLATE
)

In [12]:
db = SQLDatabase.from_uri(f"mysql+mysqlconnector://root:password@localhost/AI_STG",)
db_chain = SQLDatabaseChain.from_llm(llm, db, prompt=PROMPT, verbose=True)

In [16]:
db_chain.run("what is the product which is brought by a client who belongs to angadi")

> Entering new SQLDatabaseChain chain...
what is the product which is brought by a client who belongs to angadi
SQLQuery:SELECT product_name FROM orders JOIN client ON orders.client_name = client.name WHERE client.city = 'angadi';
SQLResult: [('Baloon',)]
Answer:Baloon
> Finished chain.

'Baloon'

In [24]:
db = SQLDatabase.from_uri(f"mysql+mysqlconnector://root:password@localhost/AI_STG",include_tables=['client','orders'],sample_rows_in_table_info=2)
db_chain = SQLDatabaseChain.from_llm(llm, db, prompt=PROMPT, verbose=True)

In [26]:
db_chain.run("what is the count of product which is brought by a client who belongs to angadi")

> Entering new SQLDatabaseChain chain...
what is the count of product which is brought by a client who belongs to angadi
SQLQuery:SELECT COUNT(*) FROM orders o JOIN client c ON o.client_name = c.name WHERE c.city = 'angadi';
SQLResult: [(1,)]
Answer:1
> Finished chain.

'1'