In [10]:
import openai

import os
from open_key import api_key
os.environ['OPENAI_API_KEY'] = api_key
openai.api_key = api_key

# List of tables and columns (customize this based on your database schema)
tables = {
    "client": ["name", "age", "city"],
    "orders": ["order_cd", "client_name", "amount","product_name","product_cd"]
}

In [11]:

# Generate the prompt based on the provided tables and columns
def generate_prompt(tables):
    prompt = "You can query data from the following tables:\n"
    for table, columns in tables.items():
        columns_str = ", ".join(columns)
        prompt += f"- {table} with columns: {columns_str}\n"
    prompt += "Please write a natural language query using these tables and columns to get the data you need."
    return prompt

In [12]:
# Function to convert user's text to SQL query
def text_to_sql(user_input, tables):
    prompt = generate_prompt(tables)
    response = openai.Completion.create(
        engine="text-davinci-002",  # Use the engine of your choice
        prompt=f"{prompt}\nUser Input: {user_input}",
        max_tokens=200
    )
    sql_query = response.choices[0].text.strip().split("User Output: ")[-1]
    return sql_query

In [14]:
# Example usage:
user_text = "what is the price of all products which is brought by clients those belong to angadi"
sql_query = text_to_sql(user_text, tables)
print("Generated SQL Query:")
print(sql_query)

Generated SQL Query:
SELECT product_name, amount
FROM orders
JOIN client
ON orders.client_name=client.name
WHERE client.city='angadi'